
body{
    margin:0px;
    padding:0px;
   
    font-family: Roboto,Arial,sans-serif;
} */

#WomenMain{
    display:flex;
    width:90%;
    margin: auto;
    margin-top:40px;
    /* border:solid 1px red; */
}
.Belk{
    margin-left:8%;
}
.Women1{
    width:15%;
    /* border:solid 1px rgb(19, 18, 18); */
}
.Women2{
    /* border:solid 1px rgb(19, 18, 18); */
    width:82%;
    
}
.image{
    
    width:98%;
    margin: auto;
    height:500px;
}
.belkIMG{
    width:100%;
    height:500px;
}
.first{
    font-size:16px;
    font-weight: bold;
}
p{
    font-size:13px;
}
.shopTops{
 
  display:grid;
  grid-template-columns:repeat(3,1fr);
  width:98%;
  margin: auto;
  margin-top:20px;
}
.shopTops div{
  
    width:80%;
    margin: auto;
    height:400px;
    margin-top:40px;
   
}
img{
    width:100%;
    height:400px;
}

.style{
    
    width:100%;
    margin-top:40px;
    height:200px;
}
.style img{
    width:100%;
    height:200px;
}

.style2{
    
    width:100%;
    margin-top:40px;
    height:400px;
}
.style2 img{
    width:100%;
    height:400px;
}
.Fashion{
    margin-top:50px;
}
#append{
  
    margin-top:40px;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    /* height:200px; */
}
#card{
   
    width:80%;
    margin: auto;
    padding:8px;
    margin-top:20px;
}
#imgDiv{
    border:solid 1px rgb(180, 177, 177);
    width:100%;
    border-radius:10px;
}
#imgDiv:hover{
    cursor: pointer;
    border:0px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#imgDiv img{
    width:100%;
    border-radius:10px;
}

#price{
   color: red;
}
#discription{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
 -webkit-line-clamp: 3; /* number of lines to show */
   line-clamp: 3; 
    -webkit-box-orient: vertical;
    color:rgb(136, 134, 134);
}
#title{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
 -webkit-line-clamp: 1; /* number of lines to show */
   line-clamp: 1; 
    -webkit-box-orient: vertical;
    color:rgb(136, 134, 134);
}

#price:hover,#discription:hover{
    cursor: pointer;
   text-decoration:underline;
}
#button{
    background-color:rgb(166, 242, 166);
    border:0px;
    border-radius:8px;
    height:40px;
    display:block;
    margin: auto;
}
#button:hover{
    cursor: pointer;
    background-color:rgb(199, 246, 199);
}
.Suggest{
   
    margin-left:8%;
    margin-right:8%;
}
.MayWe{
   
    width:100%;
    /* height:300px; */
    display:flex;
    margin: auto;
}
.MayWeDIV{
    
    width:13%;
    /* height:300px; */
    margin: auto;
}
.imgDIV{
    border:solid 1px rgb(164, 162, 162);
    margin-top:30px;
    width:100%;
    height:200px;
}
.imgDIV img{
    width:100%;
    height:200px;
}
.MayWeDIV p{
  color:rgb(114, 112, 112);
}
.MayWeDIV h4{
    color:red;
}
.Trending,.Related,.RelatedItem{
    
    margin-top:60px;
    margin-left:8%;
    margin-right:5%;
}
.Customers{
    margin-right:5%;
    margin-left:8%;
    margin-top:60px;
}
.Products{
    margin-top:30px;
    /* border:solid 1px red; */
    width:50%;
    height:40px;
    margin-left:8%;
    display: flex;
    justify-content: space-around;
}
.Products div{
    
    text-align: center;
    border:solid 1px black;
    padding:0px 4px 0px 4px;
}
.Products div:hover{
    cursor: pointer;
    background-color:rgb(237, 235, 235);
}
.RelatedItem{
     display:grid;
     grid-template-columns:repeat(6,1fr);
     margin-top:30px;
     width:88%;
     margin-left:8%;
}
.BELLA p{
    color: rgb(102, 101, 101);
}
.BELLA h5:hover{
    cursor: pointer;
    text-decoration: underline;
}
.BELLA{
    margin: auto;
    
    width:78%;
    padding:10px;
}
.BELLAimg{
    margin: auto;
    border:solid 1px rgb(177, 175, 175);
    width:100%;
    height:230px;
}
.BELLAimg img{
    width:100%;
    height:230px;
}
.Ladies{
    margin-top:40px;
    margin-left:8%;
    margin-right:4%;
}
.Ladies h5{
    color: gray;
}
#brand{
    color:rgb(237, 134, 134);
}
#brand:hover{
   cursor: pointer;
   text-decoration: underline;
}
#select{
   margin: auto;
   width:90%;
   height:30px;
   font-size:15px;
   text-align: center;
   border:0px;
   justify-content: space-between;
   color:white;
   background-color:
   rgb(179, 176, 176);
   border-radius:5px;
}

.selectDIV{
    display:grid;
    grid-template-columns: repeat(3,1fr);
  width:60%;
  height:50px;
  margin: auto;
  

}
.selectDIV div{
    margin: auto;
    height:40px;
    /* border:solid 1px red; */
}
#high,#low{
    width:100%;
    height:40px;
    border-radius:10px;
    border:0px;
  
    font-size:15px;
    background-color:rgb(167, 213, 231);
}
#low:hover{
    background-color:rgb(49, 170, 219);
    cursor: pointer;
}
#high:hover{
    background-color:rgb(49, 170, 219);
    cursor: pointer;
}