body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}

.nav-parent {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding: 10px 0px;
}

nav {
  display: flex;
  max-width: 1260px;
  width: 100%;
}
nav .brand-logo {
  width: 50px;
}
nav .header-buttons {
  display: flex;
  column-gap: 1.5rem;
  justify-content: center;
  white-space: nowrap;
}

nav .search-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65%;
  height: 45px;
  position: relative;
  margin-right: 15px;
}

nav .search-div input {
  padding: 0px 15px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px #767676 solid;
  border-right: none;
  flex: 1;
  outline: none;
  height: 100%;
  font-family: inherit;
  font-size: 14px;
  background-color: #fefefe;
  width: 100%;
}
nav .search-div button {
  background-color: #fefefe;
  border: 1px #767676 solid;
  height: 46.5px;
  padding: 0px 20px;
  margin-right: 1px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  border-left: none;
}
nav .search-div button:hover {
  background-color: #f5f5f5;
}

.divider {
  position: absolute;
  background: #767676;
  right: -8px;
  top: 12%;
  width: 1px;
  height: 70%;
}

nav .header-buttons > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  position: relative;
}

nav .header-buttons > div:hover:after {
  content: '';
  position: absolute;
  height: 1.4px;
  background: black;
  top: 53px;
  bottom: 0;
  left: 0;
  right: 0;
}
nav .header-buttons .divider {
  width: 0.5px;
}

nav #reward-dropdown {
  position: absolute;
  top: 54px;
  display: none;
  flex-direction: column;
  font-size: 14px;
  justify-content: center;
  width: 11rem;
  white-space: nowrap;
  row-gap: 0.4rem;
  background-color: #fefefe;
  padding: 18px;
  border: 1px black solid;
}

.show-reward {
  display: flex !important;
}

.rotate180 {
  transform: rotate(-180deg);
}

nav #reward-dropdown a {
  padding: 9px;
}

nav #reward-dropdown a:hover {
  background-color: #f5f5f5;
}

nav #my-account-dropdown {
  position: absolute;
  top: 54px;
  background-color: #fefefe;
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 12rem;
  padding: 15px;
  border: 1px black solid;
}
nav #my-account-dropdown button {
  background-color: #0076be;
  border: none;
  color: white;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  outline: 1.5px #0076be solid;
  cursor: pointer;
  margin-bottom: 1rem;
}

nav #my-account-dropdown button:nth-child(2) {
  background-color: inherit;
  color: #0076be;
  padding: 9px;
  border: 2px transparent solid;
}
nav #my-account-dropdown button:nth-child(2):hover {
  background-color: inherit;
  border: 2px #0076be solid;
}
nav #my-account-dropdown a {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 12px 5px;
}
nav #my-account-dropdown a:hover {
  background-color: #f5f5f5;
}
/* .cat-parent {
} */

.cat-parent {
  background-color: #fefefe;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.shopping-category {
  align-self: flex-start;
  max-width: 1070px;
  width: 100%;
  display: flex;
}
.shopping-category ul {
  display: flex;
  width: 100%;
  list-style: none;
  margin-left: 9%;
  column-gap: 15px;
  font-size: 14px;
  /* background-color: red; */
}

.shopping-category > ul > li > a {
  color: black;
  position: relative;
}
.shopping-category > ul > li:last-child > a {
  color: #ce0e2d;
}
/* .shopping-category > ul > li {
  position: relative;
  padding-bottom: 10px;
} */

.shopping-category > ul > li > a:hover::after {
  content: '';
  position: absolute;
  top: 29px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: black;
}

.shopping-category > ul > li:hover .mega-menu-div,
.mega-menu-div:hover {
  display: flex;
}
.mega-menu-div {
  animation: hide-megamenu 3s forwards;
}

@keyframes hide-megamenu {
  from {
    display: none;
  }
  to {
    display: flex;
  }
}

/* debug code */
/* .shopping-category > ul > li:hover + .mega-menu-div,
.mega-menu-div:hover {
  display: flex;
} */
.mega-menu-div {
  position: absolute;
  top: 118px;
  left: 100px;
  width: 1200px;
  height: 600px;
  background-color: #fefefe;
  padding: 20px;
  display: none;
  /* display: flex; */
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
  gap: 2.5rem;
}

.mega-menu-div a {
  padding: 8px 10px;
  position: relative;
}

.mega-menu-div a:hover::after {
  content: '';
  position: absolute;
  top: 1px;
  bottom: 0;
  left: 0;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 1px;
  background: black;
}

.sub-mega-menu {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 20px;
  padding-right: 50px;
  white-space: nowrap;
}

.sub-mega-menu > p {
  font-weight: 700 !important;
  font-size: 20px;
}

.super-sub-menu {
  display: flex;
  margin-top: 10px;
  gap: 1rem;
  flex-wrap: wrap;
  margin-right: 10%;
}

.super-sub-menu > div {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.shopping-category > ul > li:last-child > .mega-menu-div a {
  font-weight: 400;
}
.shopping-category
  > ul
  > li:last-child
  > .mega-menu-div
  > .super-sub-menu
  > div {
  row-gap: 1.2rem;
}

.super-sub-menu > div > a:first-child {
  font-weight: 700;
}
/* .super-sub-menu:last-child > div > a:first-child {
  font-weight: 400;
}
.super-sub-menu:last-child > div {
  row-gap: 1.2rem;
} */

.shop-save > p:first-child,
.trending-brands > p:first-child,
.trending-cat > p:first-child {
  margin: 20px 9%;
  font-size: 18px;
  padding-bottom: 5px;
  border-bottom: 1px black solid;
}

.shop-save p {
  margin: 20px 9%;
}

.trending-brands div,
.trending-cat div {
  margin: 20px 9%;
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  overflow-x: auto;
}
.trending-brands div a,
.trending-cat div a {
  border: 1px black solid;
  padding: 10px;
  background-color: white;
  transition: all 0.3s;
}
.trending-brands div a:hover,
.trending-cat div a:hover {
  background-color: #dcdcdc;
}

div > div:has(.footer-nav) {
  border: 0px grey solid;
  border-width: 0.5px 0px 0.5px 0px;
  padding: 25px 0px;
  margin: 20px 0;
}

.footer-nav {
  display: flex;
  justify-content: center;
}

.footer-nav > div {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.footer-nav > div > div {
  display: flex;
  flex-direction: column;
  width: 250px;
  row-gap: 20px;
  font-size: 14px;
  border-right: 2px gray solid;
}
.footer-nav > div > div:last-child {
  border: none;
}
.footer-nav > div > div a:first-child {
  font-size: 18px;
}
.footer-nav > div > div a:hover {
  text-decoration: underline;
}

.connect-div {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  column-gap: 50px;
  font-size: 18px;
}

.social-icon {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.connect-div div:last-child {
  display: flex;
}
.connect-div div:last-child p {
  width: 200px;
  margin: 0;
  text-align: center;
}

.connect-div input {
  border: 1px solid #cc0000;
  padding: 13.5px;
  height: 16px;
  outline: none;
}

.connect-div button {
  background: black;
  border: none;
  border-radius: 0;
  color: #fff;
  height: 44px;
  width: 76px;
  cursor: pointer;
}

.footer-links {
  margin-top: 50px;
  display: flex;
  row-gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-links a {
  border: 1px gray solid;
  border-width: 0px 1px 0px 0px;
  padding: 0px 20px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-links + p {
  text-align: center;
  color: gray;
}
